body {
    font-family: 'Open Sans', sans-serif;
}

/* Custom background colors */
.bg-lightyellow {
    background-color: #faf9da; 
    /*  #FAF8CC; */
}

.bg-lightgray {
    background-color: #F5F5F5;
}

/* Images */
.cheerpeer-logo {
    height: 50px;
    width: auto;
}

.collaborator-logo {
    max-height: 400px;
}

.why-img {
    height: 300px;
    width: auto;
}

/* Header */

#heading button {
    background-color: #5298F2;
}

#heading button:hover {
    background-color: #296ec8
}

/* Carousel */
#howCheerpeerCarousel {
    background-color: #C4C4C4;
}

.carousel-item img {
    max-height: 600px;
    max-width: 800px;
}

/* Download Section */

#download button {
    background-color: #5298F2;
}

#download button:hover {
    background-color: #296ec8
}

/* Bottom bar */
.bottom-bar {
    position: sticky;
    bottom: 0;
}